<div class="servicePane">
	<div>
		<span data-dojo-attach-point="titleNode" class="servicePaneTitle dijitInline">${title}</span>
		<span data-dojo-attach-event="onclick:_toggleService" class="action dijitInline">&nbsp;</span>
		<span data-dojo-attach-event="onclick:_restart" class="action restart dijitInline">&nbsp;</span>
	</div>
	<div class="halfPane">
		<div class="statusNode" data-dojo-attach-point="statusNode">

		</div>
	</div>
	<div class="halfPane">
		<div class="graphNode" data-dojo-attach-point="graphNode">

		</div>
	</div>
</div>